<html>
    <head>
        
    </head>
    <body>
         <form class="formc" action="data" method="post">
            <input type="number" name="excellent" value="" placeholder="choice"> 
            <input type="number" name="age" value="" placeholder="age">
            <input type="number" name="position_cat" value="" placeholder="position_cat">
            <input type="number" name="page_views" value="" placeholder="page_views">
            <input type="number" name="fpl_value" value="" placeholder="fpl_value">
            <input type="number" name="fpl_points" value="" placeholder="fpl_points">
            <input type="number" name="region" value="" placeholder="region">
            <input type="number" name="new_foreign" value="" placeholder="age">
            <input type="number" name="age_cat" value="" placeholder="age_cat">
            <input type="number" name="club_id" value="" placeholder="club_id">
            <input type="number" name="big_club" value="" placeholder="big_club">
            <input type="number" name="new_signing" value="" placeholder="new_signing">
            <input type="submit" name="submit" value="submit" class="button">
             </form>
     </body>
</html>